{{!-- template-lint-disable no-down-event-binding --}}
<div class="oct-emergency-delete__wrapper col">
  <button
    type="button"
    class="oct-emergency-delete__button"
    style={{this.buttonGradient}}
    {{on 'mousedown' this.onHoldDown}}
    {{on 'mouseup' this.onRelease}}
    {{on 'mouseleave' this.onRelease}}
    {{on 'touchstart' this.onHoldDown}}
    {{on 'touchend' this.onRelease}}
    {{on 'touchcancel' this.onRelease}}
  >
    Delete all Data
  </button>
  <i class="oct-emergency-delete__info">Hold this button for three seconds to irrevocably delete all data for all users</i>
</div>