<div class="oct-field">
  {{#if @label}}
    <label for={{@identifier}}>{{@label}}</label>
  {{/if}}

  <Input
    @value={{@value}}
    @type={{@type}}
    name={{@identifier}}
    id={{@identifier}}
    placeholder={{@placeholder}}
    disabled={{@disabled}}
    ...attributes
  >
  </Input>
</div>