<li class="oct-info-row" ...attributes>
  <div class="col">
    <label for={{this.elementId}} class="oct-info-row__label">{{@label}}</label>
    {{#if @description}}
      <p>{{@description}}</p>
    {{/if}}
  </div>

  <p class="row">
    <input
      type={{@type}}
      id={{this.elementId}}
      class="oct-info-row__input"
      value={{@value}}
      placeholder={{@placeholder}}
      disabled={{@disabled}}
      {{on "input" this.setValue}}
    />
    {{#if @unit}}
      <span class="oct-info-row__unit">{{@unit}}</span>
    {{/if}}
  </p>
</li>
